/* CSS Document */

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
summary {
    cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --muted: #898989;
    --text: #000;
    --container: #F5F5F5;
    --background: #ededed;
    --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --shadow-top: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --red: #fe6d73;
    --green: #17c3b2;
    --blue: #227c9d;
    --yellow: #ffcb77;
    --boxshadow-like: 0px 0px 50px var(--green);
    --boxshadow-no: 0px 0px 50px var(--red);
    --textshadow-like: 0px 0px 30px var(--green);
    --textshadow-no: 0px 0px 30px var(--red);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #3a3a46;
        --container: #282834;
        --text: #F5F5F5;
    }

    body {
        color: var(--text);
    }
}

/****************/
/* JOUW STYLING */
/****************/
body {
    font-family: 'Nunito', sans-serif;
    color: var(--text);
    background-color: var(--background);
}

/* jouw code */

nav {
    z-index: 10;
    background-color: var(--container);
    width: 100%;
    bottom: 0;
    position: fixed;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: var(--shadow-top);
    left: 0;
}

header {
    background-color: var(--container);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    padding: 2em 1em;
}

header h1 {
    font-size: 3em;
    color: var(--green);
}

/* responsive sizing */
@media only screen and (max-width: 550px) {
    main {
        margin: 2em;
    }

    article img {
        height: 500px;
        max-width: 400px;
    }
}

main {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 37.5em;
    margin-left: auto;
    margin-right: auto;
    gap: 2em;
}

section {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}

article {
    box-shadow: var(--shadow);
    padding: 1em;
    border-radius: 10px;
    background-color: var(--container);
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 1em;
    animation: float 2s ease-in-out infinite;
    height: 30em;
}

@keyframes float {
    0% {
        transform: translateY(0em);
    }

    50% {
        transform: translateY(0.5em);
    }

    0% {
        transform: translateY(0em);
    }
}

.animatieLike {
    animation: moveLike 0.5s ease-in-out 1;
    transform-origin: center;
}

@keyframes moveLike {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    5% {
        background-color: var(--green);
        box-shadow: var(--boxshadow-like);
    }

    50% {
        transform: translateX(1000px);
    }

    55% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.animatieNo {
    animation: moveNo 0.5s ease-in-out 1;
    transform-origin: center;
}

@keyframes moveNo {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    5% {
        background-color: var(--red);
        box-shadow: var(--boxshadow-no);
    }

    50% {
        transform: translateX(-1000px);
    }

    55% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

article img {
    order: 1;
    background-color: var(--muted);
    min-height: 5em;
    border-radius: 10px;
    margin-bottom: 1em;
    object-fit: cover;
    transition: 0.25s;
    max-width: 100%;
    /* Zorgt ervoor dat afbeeldingen niet te breed worden */
}

article img:hover {
    transform: scale(1.02) rotate(1deg);
}

article h2 {
    color: var(--green);
    font-size: 2em;
    color: var(--green);
    order: 2;
}

article h3 {
    order: 3;
}

article p {
    order: 4;
}

/* Navigatie */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 80px;
    padding: 0px;
}

nav li {
    font-weight: 600;
    margin: 16px 32px;
    transition: 0.25s;
    font-size: 2em;
}

nav li:nth-last-of-type(2) {
    color: var(--red);
}

nav li:nth-last-of-type(1) {
    color: var(--green);

}

li:hover {
    font-weight: 900;
    margin: 16px 32px;
    transform: scale(1.2);
}

li:nth-last-of-type(1):hover {
    text-shadow: var(--textshadow-like);
}

li:nth-last-of-type(2):hover {
    text-shadow: var(--textshadow-no);
}