/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'starjedi';
	src: url('../fonts/Starjedi.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#000;
	--color-background:#111;
	--color-starwars-geel: #FFE919;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: starjedi, sans-serif;
  color:var(--color-main);
  background-color:var(--color-background);
}

h1 {
	color: var(--color-starwars-geel);
	text-transform: uppercase;
}
/* jouw code */

